
{% extends 'base-journal.html.twig' %}

{% block title %}Студенти групи {{ group.name }}{% endblock %}

{% block body %}
    <div class="container-journal-center">
        <div class="container-journal-block">
            <input type="text" class="edit-add-student" placeholder="П.І.Б" required="required"/>

            <div class="button journal-button-student-add">Додати</div>
        </div>
        <div class="container-journal-show-students">
            <div class="preLoader" id="preloader-students"></div>
            <table class="table-show-students"></table>
        </div>
    </div>

    <script>
        let preloaderStudents = new Preloader(

            $('#preloader-students'),

            '{{ asset("images/preloader/preloader.gif") }}'
        );

        $('.journal-button-student-add').on('click', function (e) {

                addStudent($('.edit-add-student').val());
        });

        function addStudent(student_name) {
            $('.table-show-students').html(" ");
            $.ajax({
                type: 'POST',
                url: '{{ path('addStudent') }}',
                data: ({
                    'student_name': student_name,
                    'group_id': '{{ group.id }}',
                }),
                error: function () {
                    note({
                        content: "Сталась помилка.",
                        type: "error",
                        time: 3
                    });
               //     showStudents();
                },
                success: function (result) {
                        note({
                            content: result['message'],
                            type: result['type'],
                            time: 3
                        });
                    showStudents();
                    $('.edit-add-student').val("");
                }
            });
        }

        showStudents();
        function showStudents() {
            $.ajax({
                type: 'POST',
                url: '{{ path('showStudent') }}',
                data: ({
                    'group_id': '{{ group.id }}'
                }),
                beforeSend: function () {
                    preloaderStudents.showPeloader();
                },
                complete: function () {
                    preloaderStudents.hidePrloaer();
                },
                error: function () {
                    note({
                        content: "Сталася помилка",
                        type: "error",
                        time: 3
                    });
                },
                success: function (result) {
                 //   console.log(result);
                    $('.table-show-students').html(result);
                }
            });
        }

        $('html').on('click', '.button-journal-delete', function (e) {
            let student_name = $(this).parent().parent().parent().find('.show-human-name input').val();
            if(confirm('Ви дійсно хочете видалити студента "'+student_name+'"?'))
            deleteStudent($(this));
        });

        function deleteStudent(e) {
            let student_id = e.attr('data-human-id');

            $('.table-show-students').html(" ");
            $.ajax({
                type: 'POST',
                url: '{{ path('deleteStudent') }}',
                data: ({
                    'student_id': student_id,
                }),
                beforeSend: function () {
                    preloaderStudents.showPeloader();
                },
                complete: function () {
                    preloaderStudents.hidePrloaer();
                },
                error: function () {
                    note({
                        content: "Сталась помилка при видаленні Студента",
                        type: "error",
                        time: 3
                    });
                },
                success: function (result) {
                        note({
                            content: result['message'],
                            type: result['type'],
                            time: 5
                        });
                    showStudents();

                }
            });
        }
        $('html').on('click', '.button-journal-update', function () {
            updateStudent($(this));
        });

        function updateStudent(e) {
            let student_id = e.attr('data-human-id');
            let student_name = $('[data-human-name-id='+student_id+']').val();
            let email1 = $('[data-human-email1-id='+student_id+']').val();
            let email2 = $('[data-human-email2-id='+student_id+']').val();
            let key = $('[data-id-key="'+student_id+'"]').val();
        console.log(email1,email2)
            $('.table-show-students').html(" ");
            $('.preLoader').show();
            $.ajax({
                type: 'POST',
                url: '{{ path('updateStudent') }}',
                data: ({
                    'student_id': student_id,
                    'student_name': student_name,
                    'email1': email1,
                    'email2': email2,
                    'key': key
                }),
                error: function () {
                    note({
                        content: "Сталася помилка при зміненні студента",
                        type: "error",
                        time: 15
                    });
                },
                success: function (result) {
                        note({
                            content: result['message'],
                            type: result['type'],
                            time: 15
                        });
                    showStudents();

                }
            });
        }

    </script>
{% endblock %}