{% trans_default_domain 'FOSUserBundle' %}
<div class="limiter">
    <div class="container-login100 ">
        <div class="wrap-login100 p-t-85 p-b-20 white-block">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
            {% if is_granted('ROLE_ADMIN') %}

    {% elseif app.user.code == null%}
    <div class="wrap-input100 m-t-85 m-b-35 white-block" data-validate = "Enter kode">
        <input type="text" class="input100 keyP" />
        <span class="focus-input100" data-placeholder="Код"></span>
    </div>
    <div class="button button-use-key">Активувати</div>
    {% elseif app.user.code.student %}

        <p><b>Ім'я в журналі: </b> {{ app.user.code.student.name }}</p>
        <p><b>Група: </b> {{ app.user.code.student.group.name }}</p>
        <p><b>Куратор групи: </b> {{ app.user.code.student.group.curator.name }}</p>

    {% elseif app.user.code.teacher %}
    teacher
    {% endif %}
</div>
</div>
</div>
<script>
    $('.input100').each(function() {
        $(this).addClass('has-val');

    })


    /*==================================================================
    [ Focus input ]*/
    $('.input100').each(function(){
        $(this).on('blur', function(){
            if($(this).val().length !== 0) {
                $(this).addClass('has-val');
            }
            else {
                $(this).removeClass('has-val');
            }
        })
    })


    $('html').on('click', '.button-use-key', function () {
        useKey();


    });

    function useKey() {

        $.ajax({
            type: 'POST',
            url: '{{ path('useKey') }}',
            data: ({
                "key": $('.keyP').val(),
            }),
            error: function () {
                note({
                    content: "Сталася помилка, перезавантажте сторінку.",
                    type: "error",
                    time: 15
                });
            },
            success: function (result) {
                note({
                    content: result['message'],
                    type: result['type'],
                    time: 15
                });

                if(result['type']==='info'){
                    setTimeout(()=>{
                        location.reload();
                    },2000);

                }

            }
        });
    }

</script>
