{% set i = 1 %}
{% set disabled = "" %}
{% set dateDisabled = "" %}
{% set checkDate = true %}
{% set title = "" %}

{% set edit = false %}
{% if is_granted('ROLE_TEACHER') %}
    {% set currentTeacher = app.user.getCode.getTeacher %}
        {% if subject.getMainTeacher.getId == currentTeacher.getId %}
            {% set edit = true %}
        {% endif %}
{% elseif  is_granted('ROLE_ADMIN') %}
            {% set edit = true %}
{% else %}
    {% set currentTeacher = null %}
{% endif %}

<caption>
    <b>{{ subject.getName }}
        {% if subject.getMainTeacher !=null%}
        ({{ subject.getMainTeacher.getName }})
        {% endif %}
    </b>
</caption>
<thead data-page = '{{ dates[0].getPage }}'>
<tr>
    <th class="subject-counter-students" rowspan="2">id</th>
    <th class="name-student" rowspan="2">Прізвище та ініціали</th>
    <th colspan="30">Місяць, число</th>
    <th rowspan=2 width="35px">с/б</th>
</tr>
<tr>
{% for d in dates %}
{% if (d.getDate is not null or checkDate == true) and edit == true%}
    {% set dateDisabled = "journal-table-date-click" %}
{% else %}
    {% set dateDisabled = "disabled-td" %}
    {% set checkDate = false %}
{% endif %}
    {% if d.getDate is null %}
        {% set checkDate = false %}
    {% endif %}
<th class="journal-table-date {{ dateDisabled }} column column{{ i }}"
    style="background: {{ d.getTypeMark.getColor }}"
    data-column='column{{ i }}'
    data-date-id='{{ d.getId }}'
    {% if d.getDate is not null %}
    title="  {{d.getDate|date('d-m-Y') }}; {{ d.getTypeMark.name }}; {{ d.description }}">
    {% endif %}
    <div style="background: #fff">
    {% if d.getDate is not null %}
    {{ d.getDate|date('m d') }}
    {% endif %}
    </div>
</th>
    {% set i = i+1  %}
    {% set dateClick = "" %}
{% endfor %}
</tr>
{% set i = 1  %}
 {% for student in students  %}
<tr class="student-row">
<td>{{ i }}</td>
    <td data-student-id='{{ student.student.getId }}' class='table-subject-name'>
        <a  target="_blank" href="{{ path('showSubjectsStudent',{'group_alis':student.student.getGroup.getId,'student_alis':student.student.getId}) }}">{{ student.studentName }}</a>
    </td>
{% set c = 1 %}{% set average = 0 %}{% set counter_marks = 0 %}

{% for mark in student.mark %}

{% if mark.getDateMark.getDate is null %} {% set disabled = "disabled-td"%}{%  set title = 'title = Спочатку_поставте_дату ' %}{% endif %}

 <td {{ title }} data-column='column{{ c }}' style="background-color: {{ mark.getDateMark.getTypeMark.getColor }};"  class='table-subject-marks {{ disabled }} column column{{ c }}' data-subject-mark-id='{{ mark.getId }}'>
     <select data-id-mark='{{ mark.getId }}' class='table-subject-select {{ disabled }}'>
         {% if mark.getDateMark.getDate is not null and mark.getDateMark.getTypeMark.getAverage == 0 and edit%}
             <option></option>
             {% for j in 1..subject.getGradingSystem.getSystem %}
                 {% if mark.getMark == j %}
                     <option selected>{{ mark.getMark }}</option>
                     {% set average = average + mark.getMark %}{% set counter_marks = counter_marks + 1 %}
                 {% else %}
                     <option>{{ j }}</option>
                 {% endif %}
             {% endfor %}
             {% if mark.getMark == 'Н' %}
                 <option selected>Н</option>
                 {% else %}
                 <option>Н</option>
             {% endif %}
         {% elseif  mark.getDateMark.getTypeMark.getAverage == 1 %}
             <option selected disabled>{{ mark.getMark }}</option>
         {% else %}
             {% if mark.getMark matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
             {% set average = average + mark.getMark %}{% set counter_marks = counter_marks + 1 %}
             {% endif %}
            <option>{{ mark.getMark }}</option>
         {% endif %}
     </select>
 </td>
    {% set c = c + 1  %}{% set disabled = "" %}{%  set title = "" %}
{% endfor %}
    {% if(counter_marks!=0) %}
      <td class="average_mark">{{ (average/counter_marks)|round(1, 'floor')  }}</td>
    {% else %}
      <td class="average_mark">{{ average }}</td>
    {% endif %}
</tr>
     {% set i = i+1  %}
 {% endfor %}
</thead>