<div class="block-search">
    <div class="header-top">
        <div class="container-logo"><img src="{{asset("images/logo-head.png")}}" ></div>
        <div class="block-button-login">
            <div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="container-head-info-user">
                        {% if app.user.code %}
                        {%if  app.user.getCode.getStudent  %}
                            {{ app.user.getCode.getStudent.getName }}<br>
                            {% if app.user.getCode.getStudent.getGroup %}
                               Група - {{ app.user.getCode.getStudent.getGroup.getName }}
                            {% endif %}
                        {% elseif  app.user.getCode.getTeacher %}
                            {{ app.user.getCode.getTeacher.getName }}<br>
                            {% if app.user.getCode.getTeacher.getGroup %}
                            {% set group = app.user.getCode.getTeacher.getGroup  %}
                                Куратор групи - <a href="{{ path('journal_show_one_group',{'group_alis':group.getAlisEn}) }}">{{ group.getName }}</a>
                            {% endif %}
                        {% endif %}
                        {% endif %}
                    </div>


                    <div class="container-head-info-user">
                        <a href="/profile" class="button">Профіль

                            {% if is_granted('ROLE_ADMIN') %}
                            <b>(Адмін)</b>
                            {% elseif is_granted('ROLE_TEACHER') %}
                            <b>(Вчитель)</b>
                            {% elseif is_granted('ROLE_STUDENT') %}
                            <b>(Студент)</b>
                            {% endif %}

                        </a>
                        <a  class="button" href="{{ path('fos_user_security_logout') }}">
                            Вихід
                        </a>
                    </div>
                {% else %}
                <div class="container-head-info-user">

                <a href="/register" class="button">Реєстрація</a>
                    <a href="/login" class="button">Авторизація</a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
