
{% extends 'base-journal.html.twig' %}

{% block title %}{{ subject.getGroup.getName }} - {{ subject.getName }}{% endblock %}
{% set edit = false %}
{% if is_granted('ROLE_TEACHER') %}
    {% set currentTeacher = app.user.getCode.getTeacher %}
    {% if subject.getMainTeacher.getId == currentTeacher.getId %}
        {% set edit = true %}
    {% endif %}
{% elseif  is_granted('ROLE_ADMIN') %}
    {% set edit = true %}
{% else %}
    {% set currentTeacher = null %}
{% endif %}
{% block body %}
    <div class="container-table-subject-journal">
        <div class="block-type-mark">
            {% for type in typeMark %}
                <div class="type-mark-color" style="background:{{ type.getColor }}"></div>
                <div>{{ type.getName }}</div>
            {% endfor %}
        </div>
        <table class="table-subject-journal table ver" >
            {{ include('journal/journal_table/subject-table.html.twig',{'subject':subject}) }}
        </table>
    </div>

    <div class="container-subject-block row-paginate-subject">
        {{ include('journal/journal_subject/subject-paginate.html.twig',{
            'page':app.request.attributes.get('_route_params')['page'],
            'totalPage':totalPage
        }) }}
    </div>

    {% if is_granted('ROLE_ADMIN') %}

    <div class="container-subject-block">
        <div class="button button-show-modal-update-subject"> Редагувати предмет.</div>
        <div class="button button-delete-subject"> Видалити предмет.</div>
        <a class="button button-download" href="{{ path('generateTableExcel',{ 'subject_id': subject.getId }) }}" style="width: 463px"> Завантажити.</a>
        <div class="button button-send-subject" style="width: 463px;margin-top: 10px"> Розіслати предмет.</div>
    </div>

    <div id="myModal" class="modal modal-update-subject">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="modal-close">✘</span>
            <div class="modal-container-journal-update-subject">
                <input type="text" class="input-update-subject" placeholder="Предмет" required="required"/>
                <select class="select-teacher">
                </select>
                <div class="button button-update-subject">Зберегти</div>
            </div>
            <div class="container-table-students-subject">
                <div class="preLoader" id="preloader-students"></div>
                <div class="field_block_2 student_select">
                    <table class="student_ student_yes">
                    </table>
                    <table class="student_ student_no">
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endif %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER')  %}
    <div id="modal-date" class="modal modal-date-subject">
        <div class="modal-content">
            <span class="modal-close modal-close-edit-date">✘</span>

            <div class="modal-container-date-subject">
                <div class="row-date-modal">
                <input type="date" class="date-subject-modal" >
                <select class="select-type-mark"></select>
                </div>
                <div class="subject-modal-block-attestation">
                <textarea class="textarea-subject-modal"></textarea>

                <div class="button button-update-subject-date">Зберегти</div>
            </div>

        </div>
    </div>
    {% endif %}
    <script>
        let current_date_id = null;
        let preloaderStudents = new Preloader(

            $('#preloader-students'),

            '{{ asset("images/preloader/preloader.gif") }}'
        );

        function disabledTable() {
            let table ='.table-subject-journal';
            $(table).find(".journal-table-date").removeClass('journal-table-date-click');
            $(table).find("*").attr("disabled", "disabled");
            $(table).css({'filter': 'blur(3px)'})
        }

        function showSubjectJournal(page =null) {
            if(page == null){
                page = $('.table-subject-journal thead').data('page');
            }

            disabledTable();
            $.ajax({
                type: 'post',
                url: "{{ path('showTableSubject') }}",
                data: ({
                    "page":page,
                    "subject_alis": '{{ subject.getId }}'
                }),
                error: function () {
                    note({
                        content: "Сталася помилка, перезавантажте сторінку.",
                        type: "error",
                        time: 15
                    });
                },
                beforeSend:function(){

                },
                success: function (result) {
                    $('.table-subject-journal').css({'filter': 'blur(0px)'});
                    $('.table-subject-journal').html(result)
                }
            });
        }

        function paginateSubject(page) {
            $('.button-prev-page').removeClass('click');
            $('.button-next-page').removeClass('click');
            disabledTable();
            $.ajax({
                type: 'post',
                url: "{{ path('paginateSubject') }}",
                data: ({
                    "page":page,
                    "subject_alis": '{{ subject.getId }}'
                }),
                error: function () {
                    note({
                        content: "Сталася помилка, перезавантажте сторінку.",
                        type: "error",
                        time: 15
                    });
                },
                success: function (result) {
                    $('.row-paginate-subject').html(result);
                    $('.button-prev-page').addClass('click');
                    $('.button-next-page').addClass('click');
                }
            });
        }

        $('html').on('click', '.button-prev-page.click',function () {
            history.pushState({},
                'page',
                '/journal/group/'+"{{
                    (app.request.attributes.get('_route_params'))['group_alis'] }}/{{ (app.request.attributes.get('_route_params'))['subject_alis'] }}/"+$(this).data('page'));
           showSubjectJournal($(this).data('page'));
           paginateSubject($(this).data('page'));

        })

        $('html').on('click', '.button-next-page.click',function () {
            history.pushState({},
                'page',
                '/journal/group/'+"{{
                    (app.request.attributes.get('_route_params'))['group_alis'] }}/{{ (app.request.attributes.get('_route_params'))['subject_alis'] }}/"+$(this).data('page'));
            showSubjectJournal($(this).data('page'));
            paginateSubject($(this).data('page'));

        })

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
        $('html').on('click', '.button-send-subject',function () {
            sendSubject();
        });

        function sendSubject() {

            $.ajax({
                type: 'POST',
                url: "{{ path('sendTableExcelToStudent')}}",
                data:{'subject_id':{{ subject.getId }} },
                error: function () {
                    note({
                        content: "Сталася помилка, перезавантажте сторінку.",
                        type: "error",
                        time: 15
                    });
                },
                beforeSend : function(){disabledTable()},
                success: function (result) {
                    setTimeout(function () {
                        showSubjectJournal();
                    },400);
                    note({
                        content: result['message'],
                        type: result['type'],
                        time: 5
                    });
                }

            });
        }

        $('html').on('change', '.table-subject-select',function () {
            updateMark($(this).val(), $(this).attr('data-id-mark'));
        });

        function updateMark(mark, mark_id,student_id) {

            $.ajax({
                type: 'POST',
                url: "{{ path('markUpdate') }}",
                data: ({
                    'mark': mark,
                    'mark_id': mark_id,

                }),
                error: function () {
                    note({
                        content: "Сталася помилка, перезавантажте сторінку.",
                        type: "error",
                        time: 15
                    });
                },
                beforeSend : function(){disabledTable()},
                success: function (result) {
                    setTimeout(function () {
                        showSubjectJournal();
                    },400)

                    note({
                        content: result['message'],
                        type: result['type'],
                        time: 5
                    });
                }
            });
        }
        function updateDate() {

            let date = $('.date-subject-modal').val();
            let description = $('.textarea-subject-modal').val();
            let typeMark = $('.select-type-mark').val();
            $.ajax({
                type: 'POST',
                url: '{{ path('dateMarkUpdate') }}',
                data: ({
                    "date_id": current_date_id,
                    "date":date,
                    "description":description,
                    "type_mark_id":typeMark,
                }),
                beforeSend : function(){disabledTable()},
                error: function () {
                    note({
                        content: "Сталася помилка, перезавантажте сторінку.",
                        type: "error",
                        time: 15
                    });
                },
                success: function (result) {
                    showSubjectJournal();
                    note({
                        content: result['message'],
                        type: result['type'],
                        time: 5
                    });

                }
            });
        }

        function getDate() {
            $.ajax({
                type: 'POST',
                url: '{{ path('dateGet') }}',
                data: ({
                    "date_id": current_date_id
                }),
                error: function () {
                    note({
                        content: "Сталася помилка, перезавантажте сторінку.",
                        type: "error",
                        time: 15
                    });
                },
                success: function (result) {
                    $('.date-subject-modal').val(result['date']);

                    $('.textarea-subject-modal').val(result['description']);
                    $('.select-type-mark').val(result['type_mark_id']);
                }
            });
        }
        $('html').on('click', '.button-create-page', function () {
            createPage()
        });

        function createPage(){
            $.ajax({
                type: 'post',
                data: ({
                    "subject_id": '{{ subject.getId }}'
                }),
                url: "{{ path('subjectPageAdd') }}",
                error: function () {
                    note({
                        content: "Сталася помилка, перезавантажте сторінку.",
                        type: "error",
                        time: 15
                    });
                },
                success: function (result) {
                    note({
                        content: result['message'],
                        type: result['type'],
                        time: 10
                    });
                    history.pushState({},
                        'page',
                        '/journal/group/'+"{{
                            (app.request.attributes.get('_route_params'))['group_alis'] }}/{{ (app.request.attributes.get('_route_params'))['subject_alis'] }}/"+result['page']);
                    showSubjectJournal(result['page']);
                }
            });
        }

        function getTypeMark(){
            $.ajax({
                type: 'post',
                url: "{{ path('journal_type_mark') }}",
                error: function () {
                    note({
                        content: "Сталася помилка, перезавантажте сторінку.",
                        type: "error",
                        time: 15
                    });
                },
                success: function (result) {
                    $('.select-type-mark').html(result);
                }
            });
        }

        let modal_date = document.getElementById('modal-date');

        $('html').on('click', '.button-update-subject-date', function () {
            updateDate();
            $('.date-subject-modal').val('');
            $('.textarea-subject-modal').val('');
            $('.checkbox-subject-modal').val('')
            modal_date.style.display = "none";
        });

        $('html').on('click', '.journal-table-date-click', function () {
            current_date_id =  $(this).attr('data-date-id');
            modal_date.style.display = "block";
            getTypeMark();
            getDate();
        });

        let close_modal_edit_date = document.getElementsByClassName("modal-close-edit-date")[0];

        close_modal_edit_date.onclick = function () {
            $('.date-subject-modal').val('');
            $('.textarea-subject-modal').val('');
            $('.select-type-mark').val('');
            current_date_id = null;
            modal_date.style.display = "none";
        };

        window.onclick = function (event) {
            if (event.target == modal_date) {

                modal_date.style.display = "none";
            }
        };

        $('html').on('mouseover', '.column', function() {

            let table2 = $(this).parent().parent();
            let column = $(this).data('column') + "";
            $(table2).find("." + column).addClass('hov-column');

        });
        $('html').on('mouseout', '.column', function() {
            let table2 = $(this).parent().parent();
            let column = $(this).data('column') + "";
            $(table2).find("." + column).removeClass('hov-column');
        });

{% endif %}


{% if is_granted('ROLE_ADMIN') %}
        $('html').on('click', '.button-show-modal-update-subject', function () {
            showSubjectTeacherList();
            getSubjectStudent();
            getSubjectName();
            modal.style.display = "block";
        });

        function deleteStudentFromSubject(student_id) {
            $('.student_select').html('');
            $.ajax({
                type: 'POST',
                url: '{{ path('deleteStudentFromSubject') }}',
                data: ({
                    "subject_id": '{{ subject.getId }}',
                    "student_id": student_id
                }),
                beforeSend: function () {
                    preloaderStudents.showPeloader();
                },
                error: function () {
                    note({
                        content: "Сталася помилка, перезавантажте сторінку.",
                        type: "error",
                        time: 15
                    });
                },
                success: function (result) {
                    note({
                        content:result['message'],
                        type: result['type'],
                        time: 10
                    });
                    getSubjectStudent();
                }
            });
        }

        function addStudentToSubject(student_id) {
            $('.student_select').html('');

            $.ajax({
                type: 'POST',
                url: '{{ path('addStudentOnSubject') }}',
                data: ({
                    "subject_id": '{{subject.getId}}',
                    "student_id": student_id
                }),
                beforeSend: function () {
                    preloaderStudents.showPeloader();
                },
                error: function () {
                    note({
                        content: "Сталася помилка, перезавантажте сторінку.",
                        type: "error",
                        time: 15
                    });
                },
                success: function (result) {
                    note({
                        content: result['message'],
                        type: result['type'],
                        time: 10
                    });
                    getSubjectStudent();
                    showSubjectJournal();
                }
            });
        }

        function getSubjectStudent() {
            $('.student_select').html('');
            preloaderStudents.showPeloader();

            $.ajax({
                type: 'POST',
                url: '{{ path('getSubjectStudents') }}',
                data: ({
                    "subject_id": '{{subject.getId}}',
                }),
                beforeSend: function () {
                    preloaderStudents.showPeloader();
                },
                complete: function(){
                    preloaderStudents.hidePrloaer();

                },
                error: function () {
                    note({
                        content: "Сталася помилка, перезавантажте сторінку.",
                        type: "error",
                        time: 15
                    });
                },

                success: function (result) {

                    $('.student_select').html(result);
                    showSubjectJournal();
                }
            });
        }
        function getSubjectName() {

            $.ajax({
                type: 'POST',
                url: '{{ path('subjectNameGet') }}',
                data: ({
                    "subject_id": '{{ subject.getId}}'
                }),
                error: function () {
                    note({
                        content: "Сталася помилка, перезавантажте сторінку.",
                        type: "error",
                        time: 15
                    });
                },
                success: function (result) {
                    $('.input-update-subject').val(result['name']);

                }
            });
        }

        function showSubjectTeacherList() {
            $.ajax({
                type: 'POST',
                url: '{{ path('teacherSelect') }}',
                data: ({
                    "subject_id": '{{ subject.getId}}'
                }),
                error: function () {
                    note({
                        content: "Сталася помилка, перезавантажте сторінку.",
                        type: "error",
                        time: 15
                    });
                },
                success: function (result) {
                    $('.select-teacher').html(result['teachers']);
                }
            });
        }

        function updateSubject() {

            $.ajax({
                type: 'POST',
                url: '{{ path('updateSubject') }}',
                data: ({
                    "subject_id": '{{ subject.getId}}',
                    'name_subject': $('.input-update-subject').val(),
                    'teacher_id':$('.select-teacher').val()
                }),
                error: function () {
                    note({
                        content: "Сталася помилка, перезавантажте сторінку.",
                        type: "error",
                        time: 15
                    });
                },
                success: function (result) {
                    note({
                        content: result['message'],
                        type: result['type'],
                        time: 15
                    });
                    showSubjectJournal();
                }
            });
        }

        $('html').on('click', '.button-update-subject', function () {
            updateSubject();
        });

        $('html').on('click', '.button-delete-subject', function () {
            if(confirm('Вы дійсно хочете видалити предмет?'))
            deleteSubject();
        });

        function deleteSubject(){
            $.ajax({
                type: 'POST',
                url: '{{ path('deleteSubject') }}',
                data: ({
                    "subject_id": '{{ subject.getId }}',
                }),
                beforeSend : function(){disabledTable()},
                error: function () {
                    note({
                        content: "Сталася помилка, перезавантажте сторінку.",
                        type: "error",
                        time: 15
                    });
                },
                success: function (result) {
                    note({
                        content: result['message'],
                        type: result['type'],
                        time: 5
                    });
                    setTimeout(function () {
                        location.href = "{{ path('journal_show_one_group',{'group_alis':subject.getGroup.getAlisEn}) }}"
                    },2000)
                }
            });
        }

        let modal = document.getElementById('myModal');

        let span = document.getElementsByClassName("modal-close")[0];

        let modal_content = document.getElementsByClassName("modal-close")[0];
        //если кликаю на крестик, добавлюя id коммента в модальное окно для редактирование комменатрия
        $('html').on('click', '.button-show-modal-update-subject', function () {

            getTypeMark();
            modal.style.display = "block";

        });

        span.onclick = function () {
            $('.student_select').html("");
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                $('.student_select').html("");

                modal.style.display = "none";
            }
        }

        remove_student();

        function remove_student() {
            $('html').on('click', '.student_yes tr', function (e) {
                var student_id = $(this).attr('data-id-student');
                deleteStudentFromSubject(student_id);

                $(this).prependTo($('.student_no'));
                calculation_height();
                showSubjectJournal()
            });
        }

        add_student();

        function add_student() {
            $('html').on('click', '.student_no tr', function () {
                let student_id = $(this).attr('data-id-student');
                addStudentToSubject(student_id);
                $(this).prependTo($('.student_yes'));
                calculation_height();
                showSubjectJournal()
            });
        }

        function calculation_height() {
            let length = $('.student_no tr').length;
            let min_height = length * 35.3;
            $('.student_select').css('min-height', min_height + 'px');
        }

{% endif %}

</script>
{% endblock %}