{% extends  ajax ? 'ajax.html.twig' : 'base.html.twig' %}

{% block title %}Виникла помилка: {{ status_text }}{% endblock %}

{% block body %}
    <style>
        .container-error-container{
            margin: 0 auto;
        }
        .container-error { max-width: 600px; color: #222; font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

        margin-bottom: 150px;

        }

        .container-error h1 { color: #163C94; font-size: 24px; margin: 0 auto; text-align: center}
        .container-error  h2 { font-size: 28px;   color: #163C94;   text-align: center; }
        .container-error img{
            width: 200px;
            margin: 0 auto;

        }
.preLoader{
    display: block;
    visibility: visible;
}
    </style>
    <div class="container-error-container">
<div class="container-error">
    <div class="preLoader" >

    {% if status_code == 404%}
        <img src="{{ asset('images/preloader/preloader.gif') }}"></div>

        <h2>Такої сторінки не знайдено.</h2>

    {% elseif status_code == 403 %}
        <img src="{{ asset('images/preloader/preloader.gif') }}"></div>

    <h2>У Вас немає прав для даної сторінки.</h2>

    {% else %}

        <h1>Виникла помилка</h1>
    <img src="{{ asset('images/preloader/preloader.gif') }}"></div>

        <h2>Сервер повернув "{{ status_code }} {{ status_text }}".</h2>
    {% endif %}


</div>
    </div>
{% endblock %}




