<div class="footer">
    <div class="footer-container-left">
<h3>Контакти довiри</h3>
<img class="footer-img" src="{{ asset('images/footer/ktkt_phone_trust_s.png') }}" alt="ktkt_phone_trust_s.png">
<img class="footer-img" src="{{ asset('images/footer/against_violance_s.png') }}" alt="against_violance_s.png">
<img class="footer-img" src="{{ asset('images/footer/ukc1.png') }}" alt="ukc1.png">
<img class="footer-img" src="{{ asset('images/footer/sbu1.jpg') }}" alt="sbu1.jpg">
    </div>

    <div class="footer-container-right">

    <h3>Веб-ресури</h3>
<img class="footer-img" src="{{ asset('images/footer/mon.png') }}" alt="mon.png">
<img class="footer-img" src="{{ asset('images/footer/pedpressa.jpg') }}" alt="stu.jpg">
<img class="footer-img" src="{{ asset('images/footer/stu3.png') }}" alt="ukc1.png">
    </div>
</div>
