{% extends 'base-journal.html.twig' %}

{% block title %}Форма 6 {{ group.name }}{% endblock %}

{% block body %}
<div class="form6 container-journal-center">
    <select class="select-date-from6"> {{ option|raw }}</select>
</div>
    {% if option|raw|length > 0 %}
    <div class="buttons-form6">
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
        <button class="button download-form6">Завантажити форму 6</button>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <button class="button send-form6">Розіслати форму 6</button>
        {% endif %}
    </div>
    {% endif %}

    <div class="container-table-subject-journal">
    <div class="preLoader" id="preloader-form6">  </div>

    <table class="table-form6-journal table ver" >

    </table>
    </div>

<script>
    let preloaderFrom6 = new Preloader(

        $('#preloader-form6'),

        '{{ asset("images/preloader/preloader.gif") }}'
    );

    function disabledTable() {
        let table ='.table-form6-journal';
        $(table).find("*").attr("disabled", "disabled");
        $(table).css({'filter': 'blur(3px)'})
    }

    $('.download-form6').on('click',function () {
        let date = $('.select-date-from6').val();
        window.location = '/journal/ajax/generateTableExcelForm6/{{ group.GetId }}/'+date;
    });

    $('.select-date-from6').change(function () {
        showForm6($(this).val());
    });

    let showForm6 = (date) => {
        disabledTable();

        $.ajax({
            type: 'post',
            url: "{{ path('form6Table') }}",
            data: ({
                "date":date,
                "group_id": '{{ group.getId }}'
            }),
            error: function () {
                note({
                    content: "Сталася помилка, перезавантажте сторінку.",
                    type: "error",
                    time: 15
                });
            },
            success: function (result) {
                if(result['type']==='info')
                note({
                    content: result['message'],
                    type: result['type'],
                    time: 5
                });
                $('.table-form6-journal').css({'filter': 'blur(0px)'});
                $('.table-form6-journal').html(result)
            }
        });
    };

    showForm6($('.select-date-from6').val());

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
    $('.send-form6').on('click',function () {
        sendForm6();
    });

    let sendForm6 = () =>{
        let student = "{{ arrayStudent}}";
        let arrayStudent = JSON.parse(student);
        let date = $('.select-date-from6').val();

        for(let i = 0;i<arrayStudent.length;i++) {
            $.ajax({
                type: 'post',
                url: "{{ path('sendFormToAllStudent') }}",
                data: ({
                    "date": date,
                    "group_id": '{{ group.getId }}',
                    "student_id":arrayStudent[i],
                }),
                error: function () {
                    note({
                        content: "Сталася помилка, перезавантажте сторінку.",
                        type: "error",
                        time: 15
                    });
                },
                success: function (result) {
                    note({
                        content: result['message'],
                        type: result['type'],
                        time: 5
                    });
                }
            });
        }
    };

    $('html').on('click', '.form6-row-missed.active', function () {
        updateForm6($(this).data('mark_id'),$(this).data('missed'))
    });

    let updateForm6 = (mark_id,missed) =>{
        $.ajax({
            type: 'post',
            url: "{{ path('form6UpdateMissed') }}",
            data: ({
                "mark_id":mark_id,
                "missed":missed
            }),
            error: function () {
                note({
                    content: "Сталася помилка, перезавантажте сторінку.",
                    type: "error",
                    time: 15
                });
            },
            success: function (result) {
                note({
                    content: result['message'],
                    type: result['type'],
                    time: 5
                });
                showForm6($('.select-date-from6').val());

            }
        });
    };
    {% endif %}
    $('html').on('mouseover', '.column', function() {

        let table2 = $(this).parent().parent();
        let column = $(this).data('column') + "";
        $(table2).find("." + column).addClass('hov-column');

    });
    $('html').on('mouseout', '.column', function() {
        let table2 = $(this).parent().parent();
        let column = $(this).data('column') + "";
        $(table2).find("." + column).removeClass('hov-column');
    });
</script>
{% endblock %}
