
{% extends  ajax ? 'ajax.html.twig' : 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<div class="container-article-sheet">
    <div class="article-sheet-caption">{{   article.title}}</div>
    <div class="article-sheet">
        {{ article.body|raw  }}
    </div>
    {% if app.user %}
    <div class="container-form">
        {{ form_start(formComment, {  'method': 'POST', 'attr': {'class': 'comment-form'} }) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(formComment) }}
        </div>
        {{ form_widget(formComment)}}
        {{ form_end(formComment) }}
    </div>
    {% endif %}
    <div class="preLoader" id="preloader-comment"></div>
    <div class="container-comments" id="dish-select-component-canvas">


        {{ include('article/comment.html.twig', { 'comments': comments  }) }}

        <!-- The Modal -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="modal-close">✘</span>
                <textarea id="editor-edit-comment"></textarea>
                <button class="button comment-edit" type="submit">Змінити</button>
            </div>
        </div>

    </div>

</div>
<script>
    let editor_comment = 'comment_text';
    let editor_edit_comment = 'editor-edit-comment';

    $( document ).ready(function() {


        history.replaceState(//занести в историю номер страницы с коментариеями
            {'type': 'paginate_comment', 'article_page_comment': 1},
            '',
            $(this).attr('href'));

        let preloaderCommentPagination = new Preloader(
            $('#preloader-comment'),
            '{{ asset("images/preloader/preloader.gif") }}'
        );

        $("#comment_text").removeAttr("required");


        $(document).ready(function () {
            tinymce.init({
                selector: '#' + editor_comment,
                height: 200,
                theme_advanced_resizing: false,
                language: "uk",
                theme: "modern",
                theme_advanced_resize_horizontal: false,
                menubar: false,
                plugins: 'link',
                toolbar1: 'bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat'
            });
            tinymce.init({
                selector: '#' + editor_edit_comment,
                theme_advanced_resizing: false,
                theme_advanced_resize_horizontal: false,
                height: 200,
                language: "uk",
                theme: "modern",
                menubar: false,
                plugins: 'link',
                toolbar1: 'bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat'
            });


            function getCommentOnEdit(comment_id) {
                $.ajax({
                    type: 'POST',
                    url: '{{ path('getComment') }}',
                    data: ({
                        "comment_id": comment_id
                    }),
                    error: function () {
                        note({
                            content: "Сталась помилка, перезавантажте сторінку.",
                            type: "error",
                            time: 10
                        });
                    },
                    success: function (result) {
                        tinyMCE.get(editor_edit_comment).execCommand("mceInsertContent", false, result);
                    }
                });
            }

            $('html').on('click', '.comment-form .button', function (e) {

                e.preventDefault();

                addComment(tinyMCE.get("comment_text").getContent({ format: "text" }));
                tinyMCE.get("comment_text").setContent('')
            });

            let addComment = (text) => {
                $.ajax({
                    type: 'POST',
                    url: '{{ path('addComment') }}',
                    dataType: 'json',
                    data: ({
                        'article_id':{{ article.getId }},
                        'text': text
                    }),
                    error: function () {
                        note({
                            content: "Сталась помилка при редагуванні коментаря",
                            type: "error",
                            time: 10
                        });
                    },
                    success: function (result) {
                        note({
                            content: result['message'],
                            type: result['type'],
                            time: 10
                        });

                        if(result['type']==='info') {
                            showAjaxComment({{ article.id }}, '{{ path('showComments') }}',preloaderCommentPagination);

                        }

                    }
                });
            };

            let updateComment = (comment_id, text) => {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '{{ path('updateComment') }}',
                    data: ({
                        "comment_id": comment_id,
                        'text': text
                    }),
                    error: function () {
                        note({
                            content: "Сталась помилка при редагуванні коментаря",
                            type: "error",
                            time: 15
                        });
                    },
                    success: function (result) {
                        note({
                            content: result['message'],
                            type: ['type'],
                            time: 15
                        });

                        if(result['type']==='info')
                        showAjaxComment({{ article.id }}, '{{ path('showComments') }}',preloaderCommentPagination);

                    }
                });
            };

            $('html').on('click', '.block-comment-button-remove', function () {
                if (confirm('Ви дійсно хочете видалити коментар? ')) {

                    let id_comment = $(this).parent().attr('data-id');

                    deleteComment(id_comment);
                }
            });

            let deleteComment = (comment_id) => {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '{{ path('deleteComment') }}',
                    data: ({
                        "comment_id": comment_id,
                    }),
                    error: function () {
                        note({
                            content: "Сталась помилка при редагуванні коментаря",
                            type: "error",
                            time: 15
                        });
                    },
                    success: function (result) {
                        note({
                            content: result['message'],
                            type: ['type'],
                            time: 15
                        });

                        if(result['type']==='info')
                            showAjaxComment({{ article.id }}, '{{ path('showComments') }}',preloaderCommentPagination);

                    }
                });
            };

            var modal = document.getElementById('myModal');

            var span = document.getElementsByClassName("modal-close")[0];

            $('html').on('click', '.block-comment-button-edit', function () {

                tinyMCE.get(editor_edit_comment).setContent('');

                modal.style.display = "block";

                var id_comment = $(this).parent().attr('data-id');

                $('.modal-content').attr('id_comment', id_comment);

                getCommentOnEdit(id_comment);

            });


            $('html').on('click', '.comment-edit', function (e) {

                e.preventDefault();

                updateComment($(this).parent().attr('id_comment'), tinymce.get(editor_edit_comment).getContent());

                modal.style.display = "none";

            })

            span.onclick = function () {

                $('.modal-content').removeAttr();

                tinyMCE.get(editor_edit_comment).setContent('');

                modal.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal) {

                    $('.modal-content').removeAttr('id_comment');

                    tinyMCE.get(editor_edit_comment).setContent('');

                    modal.style.display = "none";
                }
            }


            $('#dish-select-component-canvas').on('click', ".pagination a", function (e) {

                let page = getUrlVars()['page'];//получить параметр get из url

                let state = {'type': 'paginate_comment', 'article_page_comment': page === undefined ? 1 : page};

                history.pushState(//занести в историю номер страницы с коментариеями
                    state,
                    '',
                    $(this).attr('href'));

                showAjaxComment({{ article.id }}, '{{ path('showComments') }}', preloaderCommentPagination);

                e.preventDefault();
            });

            onpopstate = function (event) {

                let state = JSON.parse(JSON.stringify(event.state));
                if(state['type'] !== null)

                showAjaxComment({{ article.id }}, '{{ path('showComments') }}', preloaderCommentPagination);

            }

        });
    });
</script>
    <script type="text/javascript" src="{{ asset('editor/tinymce.min.js') }}"></script>

{% endblock %}
