{% set edit = false %}
{% if is_granted('ROLE_TEACHER') %}
    {% set currentTeacher = app.user.getCode.getTeacher %}
    {% if group.getCurator.getId == currentTeacher.getId %}
        {% set edit = true %}
    {% endif %}
{% elseif  is_granted('ROLE_ADMIN') %}
    {% set edit = true %}
{% else %}
    {% set currentTeacher = null %}
{% endif %}

<caption>
    <b>Форма 6 на {{ date }}</b>
</caption>

<tr>
<th class="subject-counter-students" rowspan="3">id</th>
<th class="name-student" rowspan="3">Прізвище та ініціали</th>
<th colspan="{{ cal_days_in_month }}">Число</th>
<th class="total-missed-form6" rowspan="3">Всього</th>
<th class="total-missed-form6" rowspan="3" width="30px">Поважні причини</th>
<th class="total-missed-form6" rowspan="3" width="30px">Прогули</th>
</tr>
<tr>
{% for i in 1..cal_days_in_month %}
    <th  data-column='column{{ i }}' rowspan="2" class="form6-table-date column column{{ i }}"> {{ i }} </th>
{% endfor %}
</tr>
{% set skipped = 0 %}{% set closed = 0 %}{% set respectfulReason = 0%}
{% set Askipped = 0 %}{% set Aclosed = 0 %}{% set ArespectfulReason = 0%}
<tbody class="form6-row">
{% set i = 1  %}
{% for student in students %}{% set c = 1 %}
    <tr class="student-row">
        <td class="form6-row-id">{{ i }}</td>
        <td class='table-subject-name'>{{ student.studentName }}</td>
        {% for day in student.day %}
            {% if day.hours > 0 %}
                <td data-column='column{{ c }}' data-mark_id="{{ day.jsonId }}" data-missed="{{ day.missed }}" class="form6-row-missed active column column{{ c }}"
                    {% if day.missed == 0 %}
                        style="color: red"
                        {% set skipped = skipped + day.hours %}
                        {% set Askipped = Askipped + day.hours %}
                    {% elseif day.missed == 1 %}
                        style="color: green"
                        {% set closed = closed + day.hours %}
                        {% set Aclosed = Aclosed + day.hours %}
                    {% elseif day.missed == 2 %}
                        style="color: #000a94"
                        {% set respectfulReason = respectfulReason + day.hours %}
                        {% set ArespectfulReason = ArespectfulReason + day.hours %}
                    {% endif %}
                >
                    {{ day.hours }}
                </td>
            {% else %}
                <td data-column='column{{ c}}' class="form6-row-missed column column{{ c }} "> </td>
            {% endif %}{% set c = c + 1 %}
        {% endfor %}
        <td class="total-missed-form6">{{ skipped+closed+respectfulReason }}</td>
        <td class="total-missed-form6">{{ respectfulReason }}</td>
        <td class="total-missed-form6">{% if skipped != 0 %}{{ skipped }}{% endif %}</td>
    </tr>
    {% set i = i + 1 %}{% set skipped = 0 %}{% set closed = 0 %}{% set respectfulReason = 0%}

{% endfor %}
<tr><td colspan="{{ cal_days_in_month+2 }}"></td><td>{{Askipped+ArespectfulReason+Aclosed }}</td><td>{{ ArespectfulReason }}</td><td>{{ Askipped }}</td></tr>
</tbody>