<nav>
    <ul>
        <li class="navigation-menu-li-1"><a href="/" >Головна</a></li>
        <li class="navigation-menu-li-2"><a href="/journal">Журнал</a></li>
        <li class="navigation-menu-li-3"><a href="#">Вступникам</a></li>
        <li class="navigation-menu-li-4"><a href="#">Викладачам</a></li>
        <li class="navigation-menu-li-5"><a href="#">Контакти</a></li>
        <div class="button-open-menu">
            <div class="btn-open"></div>
        </div>
    </ul>

</nav>
<div class="overlay">
    <div class="wrap">
        <ul class="wrap-nav">
        {% if menu %}
            {% for item in menu %}
                <li><a href="
{% if item.parent.url!="" %}
    {{ path('showPage',{'alis':item.parent.url}) }}
{% elseif item.parent.page %}
    {% if item.parent.page.alisen!="" %}
   {{ path('showPage',{'alis':item.parent.page.alisen}) }}
   {% else %}
   #
   {% endif %}
{% else %}
#
{% endif %}
">{{ item.parent.title }}</a>
                    {% if item.child %}
                    <ul>
                        {% for child in item.child %}
                            <li><a href="
                {% if child.url!="" %}
                {{ path('showPage',{'alis':child.url}) }}
                {% elseif child.page %}
                    {% if  child.page.alisen != ""%}
                    {{ path('showPage',{'alis':child.page.alisen}) }}
                    {% else %}
                    #
                    {% endif %}
                {% else %}
                #
                {% endif %}
">{{ child.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
            <li><a href="/journal">Журнал</a></li>
            <li><a href="#2">Про колледж</a>
                <ul>
                    <li><a href="#">Історія колледжу</a></li>
                    <li><a href="#">Навчальна база</a></li>
                    <li><a href="#">Стуктура колледжу</a></li>
                    <li><a href="#">Досягнення</a></li>
                    <li><a href="#">Ліцензія та сертифікати</a></li>
                    <li><a href="#">Висновки ЕК МОНУ</a></li>
                    <li><a href="#">Символіка</a></li>
                    <li><a href="#">Галерея</a> </li>
                </ul>
            </li>
            <li><a href="#">Навчання</a>
                <ul>
                    <li><a href="https://www.google.hr/">Оплата за навчння</a></li>
                    <li><a href="#">Розклади</a></li>
                    <li><a href="#">Степендіальне забезпечання</a></li>
                    <li><a href="#">Методичні матеріали</a></li>
                    <li><a href="#">Практика та пацевлаштування</a></li>
                </ul>
            </li>
            <li><a href="#">Вступникам</a>
                <ul>
                    <li><a href="#">Перелік конкурсних пердметів</a></li>
                    <li><a href="#">Правила прийому</a></li>
                    <li><a href="#">Положення</a></li>
                    <li><a href="#">Программа вступних випробувань</a></li>
                    <li><a href="#">Розклади екзменів</a></li>
                    <li><a href="#">Результати прийому</a></li>
                    <li><a href="#">Підготовчі курси</a></li>

                </ul>
            </li>

            <li><a href="#">Студентсво</a>
                <ul>
                    <li><a href="#">Студентське самоврядування</a></li>
                    <li><a href="#">Студентська профспілка</a></li>
                    <li><a href="#">Євроклуб</a></li>
                </ul>
            </li>

            <li><a href="#">Викладачам</a>
                <ul>
                    <li><a href="#">Інформаційно-методичний вісник</a></li>
                    <li><a href="#">Методичні матеріали</a></li>
                    <li><a href="#">Атестація</a></li>
                    <li><a href="#">Педагогічна рада</a></li>
                    <li><a href="#">Трудовий колектив</a></li>
                </ul>
            </li>

            <li><a href="#">Виховна робота</a>
                <ul>
                    <li><a href="#">Планування</a></li>
                    <li><a href="#">Методичні матеріали</a></li>
                    <li><a href="#">Громадянсько-правове виховання</a></li>
                    <li><a href="#">Психологічна служба</a></li>
                    <li><a href="#">Гуртки та секції</a></li>

                </ul>
            </li>

            <li><a href="#">Публічна інформація</a>
            </li>

            <li><a href="#">Проекти</a>
                <ul>
                    <li><a href="#">Грантова діяльність</a></li>
                    <li><a href="#">Олімпіади та конкурси</a></li>
                    <li><a href="#">Конференції</a></li>
                </ul>
            </li>

            <li><a href="#">Цивільний захист та БЖД</a>
                <ul>
                    <li><a href="#">Web</a></li>
                    <li><a href="#">Graphic</a></li>
                    <li><a href="#">Apps</a></li>
                </ul>
            </li>
        </ul>
        <div class="social">
            <a href="https://www.facebook.com/ktkt.cntu">
                <div class="social-icon">
                    <i class="fa fa-facebook"></i>
                </div>
            </a>
            <a href="https://www.facebook.com/ktkt.cntu">
                <div class="social-icon">
                    <i class="fa fa-facebook"></i>
                </div>
            </a>
            <a href="https://www.facebook.com/ktkt.cntu">
                <div class="social-icon">
                    <i class="fa fa-facebook"></i>
                </div>
            </a>

        </div>
    </div>
</div>
<script>

    $(".button-open-menu div").click(function(){
        $(".overlay").fadeToggle(200);
        $(this).toggleClass('btn-open').toggleClass('btn-close');

        overflowBody();

    });

    let overflowBody = () =>{
        if($('body').hasClass('overflow-hidden-body')){

            $('body').removeClass('overflow-hidden-body')

        }else{
            $('body').addClass('overflow-hidden-body')
        }

    }

    $('.overlay').on('click', function(){
        $(".overlay").fadeToggle(200);
        $(".button div").toggleClass('btn-open').toggleClass('btn-close');

        overflowBody();
        open = false;
    });
</script>
